---
import Section from "@/components/Section.astro";

import {fetchCV} from "@/utils/apicv"

const {basics} = await fetchCV()

const {summary} = basics
---

<Section title="Acerca de mí">
  <p>{summary}</p>
</Section>

