---
import Section from "@/components/Section.astro";

import {fetchCV} from "@/api/cvApi"

const {lang = "en"} = Astro.props

const {education} = await fetchCV(lang)
---

<Section title={ lang === "es" ? "Educación" : "Education"}>
  {
    education.map(({institution, title}) => {
      return (
      <article>
        <header>
          <div>
          <h2>{title}</h2>
          <h3>{institution}</h3>
          </div>
          <time></time>
        </header>
      </article>)
    }) 
  }
</Section>

<style>
  h2 {
    font-size: 1.1rem;
    color: #333;
    font-weight: 400;
    margin: 0;
  }

  h3 {
    color: #555;
    font-size: .85rem;
    margin: 0 0 1rem 0;
    font-weight: 300;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  time {
    color: #444;
    font-weight: 500;
    margin-bottom: 1rem;
  }
</style>


