---
import Layout from '@/layouts/Layout.astro';
import { getBlogs } from '@/api/blogApi'

const blogs = await getBlogs()

---
<Layout title="Blog">
    <main>
        <h1>Blog</h1>
        {
            blogs.map((blog: { title: unknown; }) => {
                return <div>{blog.title}</div>
            })
        }
    </main>
</Layout>

<style>
    main {
        padding: 1em;
        margin: auto;
        width: 100%;
    }

    @media print {
        main {
            padding: 3em;
        }
    }
