---
import Layout from "@/layouts/Layout.astro"
---


<Layout title="Home - Richard Peña Bonifaz" lang="en" path="">
    <div class="container">
        <div class="hero">
            <div class="presentation">
                <h1>Richard Peña</h1>
                <h2>Software Engineer</h2>
                <p>Passionate developer focused on understanding how things work under the hood. I specialize in web development, systems programming, and networking.</p>
            </div>
        </div>
    </div>
</Layout>

<style>

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
    color: var(--secondary-font-color);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.hero {
    min-height: 800px;
    display: flex;
    gap: 3rem;
}

.presentation {
    border: 1px white;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-color: rgba(30, 30, 30, .2);
}

h1 {
}

</style>

