---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/Sections/About.astro';
import Education from '@/components/Sections/Education.astro';
import Experience from '@/components/Sections/Experience.astro';
import Hero from '@/components/Sections/Hero.astro';
import Skills from '@/components/Sections/Skills.astro';
import HardSoftSkillsCert from '@/components/Sections/HardSoftSkillsCert.astro';

import {basics} from "@cv"

const {name, label} = basics

---

<Layout title=`CV de ${name} - ${label}`>
	<main>
		<Hero	/>
		<About />
		<Experience />
		<Education />
		<Skills />
		<HardSoftSkillsCert />
	</main>
</Layout>

<style>
	main {
		padding: 1em;
		margin: auto;
		width: 100%;
	}

	@media print {
		main {
			padding: 3em;
		}
	}
</style>
