---
const { title } = Astro.props
---
<section>
    {title && <h1>{title}</h1>}
    <slot />
</section>

<style>
section {
    max-width: 700px;
    margin: 0 auto 55px auto;
}

h1 {
    color: var(--main-text-color);
}

@media print {
    h1, h2, h3, p, li {
        color: black;
    }
    section {
        page-break-before: auto;
        page-break-inside: auto;
        margin: 0 auto;
    }

    h1 {
        page-break-before: auto;
        page-break-after: avoid;
        page-break-inside: auto;
    }
}

h2 {
    text-decoration: underline;
    text-underline-offset: .4rem;
}
</style>
