---
import Layout from "@/layouts/Layout.astro"
---


<Layout title="Home - Richard Pe침a Bonifaz" lang="es" path="/">
    <h1>Richard Pe침a</h1>
    <h1>Software Engineer</h1>
    <p>Desarrollador apasionado, enfocado en entender c칩mo funcionan las cosas desde sus fundamentos. Estoy especializado en desarrollo web, programaci칩n de sistemas y redes.</p>
</Layout>

